body {
    background-color: #111111;
}

/*ヘッダー*/
.site-header {
    display: flex;
    width: 100%;
    height: 30px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.20);
    -webkit-backdrop-filter: saturate(120%) blur(10px);
    backdrop-filter: saturate(120%) blur(10px);
    z-index: 10000;
    border-bottom: 1px rgba(253, 253, 253, 0.20) solid;
}

@media only screen and (min-width:992px) {
    .site-header {
        display: flex;
        width: 100%;
        height: 50px;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.20);
        -webkit-backdrop-filter: saturate(120%) blur(10px);
        backdrop-filter: saturate(120%) blur(10px);
        z-index: 10000;
        border-bottom: 1px rgba(253, 253, 253, 0.20) solid;
    }
}

.site-header p {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: -0.015em;
    line-height: 20px;
    font-weight: 700;
    margin-top: 5px;
    margin-right: 5px;
}

@media only screen and (min-width:992px) {
    .site-header p {
        color: #FFF;
        font-family: 'Inter', sans-serif;
        font-size: 22px;
        letter-spacing: -0.020em;
        line-height: 38px;
        font-weight: 700;
        margin-top: 5px;
        margin-right: 14px;
    }
}

/*フッター*/
.site-footer {
    display: flex;
    width: 100%;
    height: 32px;
    position: fixed;
    bottom: 1%;
    z-index: 10000;
}

.site-footer p {
    color: #FFF;
    font-family: 'Cinzel', serif;
    font-size: 12px;
    letter-spacing: -0.015em;
    line-height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-backdrop-filter: saturate(120%) blur(10px);
    backdrop-filter: saturate(120%) blur(10px);
}


/*丸囲み*/
.subwaywrap {
    display: flex;
}

.subway {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
}

.subway1 {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    /*border: 1px #BDBDBD solid; */
    background-color: #ADADAD;
    color: #111111;
    text-indent: 0.01em;
    margin-right: 0.1em;
}

.subway2 {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: rgb(0, 153, 51);
    color: #FFFFFF;
    text-indent: 0.01em;
    margin-right: 0.1em;
}


/*各ページの見出し*/
p.jmb1 {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.033em;
    font-size: 4vw;
    font-weight: 700;
    color: #FFF;
    text-indent: -0.03em;
    line-height: 1;
    position: relative;
}

@media only screen and (max-width:992px) {
    p.jmb1 {
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.020em;
        font-size: 36px;
        color: #FFF;
        text-indent: -0.03em;
        line-height: 1;
        position: relative;
    }
}

p.jmb1btn {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.033em;
    font-size: 27px;
    font-weight: 700;
    color: #FFF;
    text-indent: -0.03em;
    line-height: 1;
    padding: 0.4rem 0rem 0rem 0rem;
    position: relative;
}

@media only screen and (max-width:992px) {
    p.jmb1btn {
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.020em;
        font-size: 19px;
        color: #FFF;
        text-indent: -0.03em;
        line-height: 1;
        padding: 0.4rem 0rem 0rem 0rem;
        position: relative;
    }
}

p.jmb2 {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.033em;
    font-size: 6.2vw;
    font-weight: 700;
    color: #FFF;
    text-indent: -0.03em;
    line-height: 1;
    position: relative;
    top: 60%;
}

@media only screen and (max-width:992px) {
    p.jmb2 {
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.020em;
        font-size: 48px;
        color: #FFF;
        text-indent: -0.03em;
        line-height: 1;
        position: relative;
    }
}

p.jmb2btn {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.033em;
    font-size: 32px;
    font-weight: 700;
    color: #FFF;
    text-indent: -0.03em;
    line-height: 1;
    position: relative;
    top: 60%;
}

@media only screen and (max-width:992px) {
    p.jmb2btn {
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.020em;
        font-size: 24px;
        color: #FFF;
        text-indent: -0.03em;
        line-height: 1;
        position: relative;
    }
}


/*メインの文章の設定*/
p.maintext {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.033em;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    text-indent: -0.03em;
    line-height: 1;
    position: relative;
}

h1.maintext {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.033em;
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
    text-indent: -0.03em;
    line-height: 1;
    padding: 2.5rem 0rem 1rem 0rem;
    position: relative;
}


/*コンテナの基本設定*/
.container {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

@media (min-width: 1260px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1250px;
    }
}


/*レスポンシブカラム*/
.col {
    margin-bottom: 20px;
}

.col-12 {
    margin-bottom: 20px;
}

.col-md-3 {
    display: flex;
    margin-bottom: 20px;
}

.col-md-4 {
    display: flex;
    margin-bottom: 20px;
}

.col-lg {
    margin-bottom: 20px;
}

.col-lg-4 {
    margin-bottom: 20px;
}

.col-lg-6 {
    display: flex;
    margin-bottom: 20px;
}

.col-lg-8 {
    display: flex;
    margin-bottom: 20px;
}

.o-3column h2 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.o-3column p {
    margin-top: 10px;
}

.o-3column .col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
}

.o-4column h2 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}

.o-4column p {
    margin-top: 10px;
}

.o-4column .col-md-3 {
    padding: 0 20px;
}



/*カラムの中のボックス*/
.container p:lang(en) {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.020em;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    text-indent: -0.03em;
    line-height: 1.5;
    position: relative;
}

.container p:lang(jp) {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.020em;
    font-size: 15px;
    font-weight: 400;
    color: #FFF;
    text-indent: -0.03em;
    line-height: 1.5;
    position: relative;
}

.box span {
    display: inline-block;
}

.box {
    position: relative;
    background: #111111;
    border: 2px #FCFCFC solid;
    padding: 18px;
    margin-top: 1px;
    margin-bottom: 1px;
    color: #FCFCFC;
    height: 100%;
}

.box:hover {
    border: 2px #51C2BA solid;
}

@media only screen and (max-width:992px) {
    .box {
        margin-bottom: 5px;
    }
}

.box p {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.012em;
    font-weight: 400;
    font-size: 16px;
    text-indent: -0.02em;
    line-height: 1.4;
    position: relative;
}

.box h1:lang(ja) {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: -0.080em;
    font-weight: 900;
    font-size: 31px;
    text-indent: -0.03em;
    line-height: 1.2;
    margin-top: 9px;
    margin-bottom: 5px;
    position: relative;
}

.box h1:lang(en) {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.031em;
    font-weight: 700;
    font-size: 36px;
    text-indent: -0.03em;
    line-height: 1;
    margin-top: 1px;
    margin-bottom: 1px;
    hyphens: manual;
    position: relative;
}

@media only screen and (min-width:992px) {
    .box p:lang(en) {
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.012em;
        font-weight: 400;
        font-size: 19px;
        text-indent: -0.02em;
        line-height: 1.4;
        position: relative;
    }

    .box p:lang(ja) {
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: -0.050em;
        font-weight: 400;
        font-size: 16px;
        text-indent: -0.02em;
        line-height: 1.6;
        position: relative;
    }

    .box h1:lang(ja) {
        font-family: 'Noto Sans JP', sans-serif;
        letter-spacing: -0.080em;
        font-weight: 900;
        font-size: 49px;
        text-indent: -0.03em;
        line-height: 1.2;
        margin-top: 9px;
        margin-bottom: 5px;
        position: relative;
    }

    .box h1:lang(en) {
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.031em;
        font-weight: 700;
        font-size: 3.2vw;
        text-indent: -0.03em;
        line-height: 1;
        margin-top: 12px;
        margin-bottom: 5px;
        position: relative;
    }
}

.box h2 {
    letter-spacing: -0.020em;
    font-weight: 900;
    font-size: 50px;
    text-indent: -0.03em;
    line-height: 1.2;
    margin-top: 9px;
    margin-bottom: 5px;
    position: relative;
}

/*ボタン*/
.border_slide_btn0 {
    position: relative;
    width: auto;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;

}

.border_slide_btn0:hover {
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}

.border_slide_btn0::after {
    position: absolute;
    bottom: -0.1em;
    left: 0;
    content: '';
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .2s;
}

.border_slide_btn0:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}

/*ボタン1*/
.border_slide_btn1 {
    position: relative;
    width: auto;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

.border_slide_btn1:hover {
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}

/*ボタン2*/
.border_slide_btn2 {
    position: relative;
    width: auto;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
}

.border_slide_btn2:hover {
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}

.border_slide_btn2::after {
    position: absolute;
    bottom: 0.1em;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .2s;
}

.border_slide_btn2:hover::after {
    transform-origin: left top;
    transform: scale(1, 1);
}


/* 丸いプロフィール画像 */
div.image_circle {
    position: relative;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    background: center;
    background-size: 200px;
    background-position: center;
    border-radius: 50%;
    background-image: url(https://user-images.githubusercontent.com/96368274/188559740-da313331-9cd4-494e-92c5-86f2bc0d4b53.JPG);
}

/* フルスクリーンスクロール */
.wrap {
    scroll-behavior: smooth;
    overflow: scroll;
    /* .wrap内をスクロール可能にする。必要です */
    scroll-snap-type: y mandatory;
    /* 縦軸にスナップさせる */
    width: 100vw;
    /* 横幅を画面いっぱいに */
    max-height: 100vh;
    overflow-y: scroll;
}

.section {
    position: relative;
    display: flex;
    scroll-snap-align: start;
    background: url(https://user-images.githubusercontent.com/96368274/188843993-14b4b5a1-48f8-446d-ae37-19b21cf3aeaa.jpg) 45% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    height: 100vh;
    width: 100%;
}

.section:nth-of-type(99n-92)::before {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 1ページ目の背景 */
.section:nth-of-type(99n-98) {
    position: relative;
    display: flex;
    scroll-snap-align: start;
    background: url(img/me_at_senten.jpg) 60% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 4.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

/* 2ページ目の背景 */
.section:nth-of-type(99n-97) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/me_at_goddard.jpg) 73% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-97)::before {
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 3ページ目の背景 */
.section:nth-of-type(99n-96) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/atlantis.jpg) 50% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-96)::before {
    background-color: rgba(0, 0, 0, .60);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 4ページ目の背景 */
.section:nth-of-type(99n-95) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/c_complex_tohoku_u.jpg) 35% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-95)::before {
    background-color: rgba(0, 0, 0, .63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 5ページ目の背景 */
.section:nth-of-type(99n-94) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/shinjuku_gyoen.jpg) 28% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-94)::before {
    background-color: rgba(0, 0, 0, .63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 6ページ目の背景 */
.section:nth-of-type(99n-93) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/me_at_senten2.jpg) 73% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 3rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-93)::before {
    background-color: rgba(0, 0, 0, .60);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 7ページ目の背景 */
.section:nth-of-type(99n-92) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/discovery.jpg) 65% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-92)::before {
    background-color: rgba(0, 0, 0, .70);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 8ページ目の背景 */
.section:nth-of-type(99n-91) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/me_at_cathedral.jpg) 50% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-91)::before {
    background-color: rgba(0, 0, 0, .65);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 9ページ目の背景 */
.section:nth-of-type(99n-90) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/iitate.jpg) 45% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-90)::before {
    background-color: rgba(0, 0, 0, .45);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}

/* 10ページ目の背景 */
.section:nth-of-type(99n-89) {
    position: relative;
    scroll-snap-align: start;
    background: url(img/my_favorite_stuff.jpg) 48% no-repeat;
    background-size: cover;
    border-radius: .0rem;
    color: #FFF;
    padding: 2.5rem 0rem 4rem 0rem;
    min-height: 100vh;
    height: auto;
    width: 100%;
}

.section:nth-of-type(99n-89)::before {
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ' ';
}